[*.{kt,kts}]
ktlint_standard_function-naming=disabled
indent_style = space
indent_size = 4
continuation_indent_size = 4
ktlint_code_style = android
ktlint_standard_annotation=disabled
ktlint_standard_no-blank-line-before-rbrace=disabled